 .menuListItemText {
     font-size: 14px !important;
 }

 @keyframes border {
     100% {
         translate: 0 8px;
     }
 }

 .sidebar {
     transition: 0.4s;
 }

 .sidebar {
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     display: flex;
     flex-direction: column;
     width: 220px;
     height: 100%;
     translate: -220px 0;
     background-color: #FFF;
 }

 .sidebar-border {
     position: fixed;

     left: 0;
     width: 32px;
     height: calc(100% + 20px);
     background: #FFF;
     animation: border 0.25s infinite linear;
     animation-play-state: paused;
 }

 .sidebar-border:hover {
     animation-play-state: running;
 }

 .sidebar.open {
     translate: 0;
     background: #FFF;
 }

 .sidebar.open~.sidebar-border {
     opacity: 0;
 }

 .sidebar-toggle {
     top: -10px;
     position: absolute;
     top: 52px;
     right: -5px;
     display: grid;
     place-items: center;
     width: 24px;
     height: 24px;
     color: #f9f9f9;
     font-size: 22px;
     border: none;
     background: none;
 }

 .sidebar-toggle-close {
     right: -38px !important;
 }

 .menüItems> ::-webkit-scrollbar {
     width: 10px;
 }

 /* Track */
 .menüItems> ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 5px grey;
     border-radius: 10px;
 }

 /* Handle */
 .menüItems> ::-webkit-scrollbar-thumb {
     background: rgba(137, 147, 163, 0.16);
     border-radius: 5px;
 }