 body,
 div,
 span,
 input,
 textarea,
 button {
     font-family: "Poppins" !important;
 }

 .kpiCompTitle {
     color: var(--Body, #202328);
     text-align: justify;
     font-size: 18px !important;
     font-style: normal;
     font-weight: 600 !important;
     line-height: 22px;
     letter-spacing: 0.5px;
 }